---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Sidebar from '../../components/Sidebar.astro';
import '../../styles/global.css';
import Pagination from '../../components/Pagination.astro';
import Link from '../../components/Link.astro';

import { slugify } from "../../scripts/utils";

export async function getStaticPaths() {
    return [
        {
            params: { categoria: slugify("news") },
            props: { name: "news"},
        },
        {
            params: { categoria: slugify("tecnologia") },
            props: { name: "tecnologia"},
        },
        {
            params: { categoria: slugify("crypto") },
            props: { name: "crypto"},
        },
        {
            params: { categoria: slugify("airbnb") },
            props: { name: "airbnb"},
        },
		{
            params: { categoria: slugify("amazon") },
            props: { name: "amazon"},
        },
		{
            params: { categoria: slugify("fotografia") },
            props: { name: "fotografia"},
        },
		{
            params: { categoria: slugify("social") },
            props: { name: "social"},
        },
		{
            params: { categoria: slugify("recensioni") },
            props: { name: "recensioni"},
        },
    ]
}

const { categoria } = Astro.params;
const { name } = Astro.props;

const allPost = (await getCollection('blog')).sort(
	(b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
const catPosts = allPost.filter((post) => slugify(post.data.categoria) === categoria);

---

<!DOCTYPE html>
<html lang="it">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <br>
            <h1>Articoli nella categoria "{name}"</h1>
			<section class="blog-section">
				<div class="home-postcard">
					<ul class="list-post">
						{
							catPosts.map((post) => (
								<li>
									<section class="home-blog-section">
										<div class="post-img-container"><a href={`/blog/${post.slug}/`}><img class="home-post-image" src={post.data.heroImage.src} alt={post.data.heroImage.src}></a></div>
										<div class="home-post-content">
											<div><a href={`/categoria/${post.data.categoria}`} class="badge">{post.data.categoria}</a></div>    
											<div><a href={`/blog/${post.slug}/`}><h1>{post.data.title}</h1></a></div>
											<div><p class="home-post-text">{post.data.description}</p></div>
											<div class="home-post-info">
                            					<div>📅<FormattedDate date={post.data.pubDate} /></div><Link href={`/blog/${post.slug}/`} style="info-button" text="Leggi di più.." />
                        						</div>
										</div>
									</section>
								</li>
							))
						}
					</ul>
				</div>
				<div class="sidebar">
					<Sidebar />
				</div>
			</section>
		</main>
		<Footer />
		<script>
			import "../../scripts/menu.js";
		</script>
	</body>
</html>
