---
import Link from "./Link.astro";
const { prevUrl, nextUrl } = Astro.props;
---
<div>
<nav aria-label="Blog pages" class="navigazione">
    {
        prevUrl && (
            <Link 
                text="Precedente"
                href={prevUrl}
                style="nav-button"
                borderVisible={true}
                isFilled={false}
                icon={
                    {
                        name: "tabler:arrow-left",
                        side: "left",
                    }
                }
            />
        )
    }
    {
        nextUrl && (
            <Link 
                text="Prossima"
                href={nextUrl}
                style="nav-button"
                borderVisible={true}
                isFilled={false}
                icon={
                    {
                        name: "tabler:arrow-right",
                        side: "right",
                    }
                }
            />
        )
    }
</nav>
</div>